<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{{path("accueil")}}">Les country du monde</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        
        
        <li class="nav-item dropdown">

            <a class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="true">
              Liste des country
            </a>
            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
              {% for troisPays in pays %}
              {# <pre>
                {{ dump(pays) }}
              </pre> #}
               <li><a class="dropdown-item" href="{{path('afficherPays',{'nom': troisPays.getNom()|lower})}}">{{troisPays.getNom()|lower}}</a></li>
              </li>
            
            
            {% endfor %} 
            </ul>
          </div>
        
      </ul>
      
    </div>
  </nav>