	{% extends 'base.html.twig' %}
		{% block title %}Le voyage autour du monde{% endblock %}
		{% block monTitre %}Liste des pays{% endblock %}
			{% block body %}
			{% for chaquePays in pays %}
			<div class="d-flex justify-content-between   ">
						<div class=" pt-3 row justify-content-around  ">
							<div class=" card col-2 "> <a href="{{path('afficherPays',{'nom':chaquePays.nom|lower})}}" class="btn">Afficher les détails</a><img src="{{ asset("images/pays/" ~ chaquePays.nom ~ ".png")}}" alt=""></a>
							</div>
						</div>
						
					</div>
						{% endfor %}
			{% endblock %}
